body {
  background: url(https://images.unsplash.com/photo-1469980098053-382eb10ba017?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80)
    center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

@media screen and (min-width: 768px) {
  .characters {
    display: grid;
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 992px) {
  .characters {
    grid-template-columns: repeat(2, 420px);
  }
}

@media screen and (min-width: 1140px) {
  .characters {
    grid-template-columns: repeat(3, 420px);
  }
}

.search-nav {
  display: flex;
  justify-content: center;
}

.search-bar {
  background: black;
  color: #feda4a;
  width: 25rem;
  height: 2.8rem;
  font-size: 2rem;
  border: #feda4a solid 2px;
  border-radius: 15px;
}

.search-bar:hover {
  cursor: pointer;
}

.test {
  display: flex;
}

.list {
  margin: auto;
}
