body {
  background: url(https://images.unsplash.com/photo-1469980098053-382eb10ba017?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80)
    center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.characters {
  display: grid;
  grid-template-columns: 300px 300px 300px 300px;
  margin: 3.8rem;
}
