.card {
  background: #414040;
  margin: 1rem;
  border-radius: 10px;
  box-shadow: 13px 18px 8px 0 rgba(0, 0, 0, 1.5);
  transition: all 0.2s ease-in-out;
}

.card:hover {
  transform: scale(1.1);
}

.card-list {
  display: flex;
  margin: 2rem 0 0 3rem;
}

.card-name {
  text-align: center;
  padding-top: 1.5rem;
  font-size: 1.8rem;
  color: #feda4a;
  font-family: "Black Ops One", cursive;
}

.center-img {
  display: flex;
  justify-content: center;
  padding: 0.8rem 2rem;
}

.small-img {
  height: 10rem;
  width: 55%;
  margin: 1.5rem 4rem;
}

.post-btn {
  background: #feda4a;
  border-radius: 15px;
  border: transparent;
  font-size: 12px;
  font-weight: bold;
  margin: 15px 31px;
  line-height: 1.9;
}

.post-btn:hover {
  background: black;
  color: #feda4a;
}

.comment-input {
  background: black;
  color: #feda4a;
  margin-top: 1.2rem;
  margin-left: 16px;
  border: #feda4a solid 2px;
  border-radius: 14px;
  height: 27px;
}

.comment {
  color: #feda4a;
  font-size: 1.3rem;
  text-align: center;
}

.plus-btn,
.no-btn {
  background: transparent;
  border: transparent;
  font-size: 2.1rem;
  color: #feda4a;
}

.plus-btn:hover,
.no-btn:hover {
  color: black;
  font-size: 2.5rem;
}

.ctr-btn,
.center-btn {
  display: flex;
  justify-content: center;
}

.center-input {
  display: flex;
  justify-content: center;
}

button:hover {
  cursor: pointer;
}
