.card {
  background: #414040;
  height: 400px;
  width: 400px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 13px 18px 8px 0 rgba(0, 0, 0, 1.5);
  transition: all 0.2s ease-in-out;
}

.card:hover {
  transform: scale(1.1);
}

.card-list {
  display: flex;
}
.card-name {
  text-align: center;
  padding-top: 1.5rem;
  font-size: 1.8rem;
  color: #feda4a;
}

.center-img {
  display: flex;
  justify-content: center;
  padding: 3.5rem;
}
.small-img {
  height: 10.2rem;
  width: 10.2rem;
}

.post-btn {
  background: #feda4a;
  border-radius: 15px;
  border: transparent;
  font-size: 12px;
  font-weight: bold;
  margin: 15px 31px;
}

.post-btn:hover {
  background: black;
  color: #feda4a;
}

.comment-input {
  background: black;
  color: #feda4a;
  margin-top: 1.2rem;
  margin-left: 16px;
  border: #feda4a solid 2px;
  border-radius: 14px;
  height: 27px;
}

.comment {
  color: #feda4a;
  font-size: 1.3rem;
  text-align: center;
}
.no-btn {
  background: #feda4a;
  border: transparent;
  border-radius: 50px;
}
.ctr-btn {
  display: flex;
  justify-content: center;
}
